<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>商品編集</h2>
    <div class="col">
      <%= form_with model: @item do |f| %>
        <label class"d-inline-block w-150">
          商品画像
        </label>
        <%= f.file_field :image, accept: "image/jpeg" %>
        <label class"d-inline-block w-150">
          商品名
        </label>
        <%= f.text_field :name %>
        <label class"d-inline-block w-150">
          商品説明
        </label>
        <%= f.text_area :introduction %>
        <label class"d-inline-block w-150">
          ジャンル
        </label>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
        <label class"d-inline-block w-150">
          税抜価格
        </label>
        <%= f.text_field :price %>円
        <label class"d-inline-block w-150">
          販売ステータス
        </label>
        <%= f.radio_button :status, true %>
        <%= f.label :status_true, "販売中"%>
        <%= f.radio_button :status, false %>
        <%= f.label :status_false, "販売停止中"%>
        <div>
          <%= f.submit '変更を保存',class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>